<div class="container">

  <div class="row light-green-text mb-3 ml-1 text-uppercase">
    <h3>Your Orders</h3>
  </div>

  <ng-template #loading>
    <h3>Loading ...</h3>
  </ng-template>

  <table mdbTable hover="true" *ngIf="orders?.length > 0; else loading">
    <thead>
    <tr>
      <th class="font-weight-bold" *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr mdbTableCol *ngFor="let el of orders">
      <th scope="row" class="text-left">{{el.buyer}}</th>
      <th scope="row" class="text-left">{{el.delivery}}</th>
      <td>{{scOrderStatus.toOrderStatus(el.orderStatus)}}</td>
      <td>{{toDate(el.orderTime) | date: 'medium'}}</td>
      <td>
        <button mdbBtn color="primary" outline="true" size="sm" type="button" class="m-0" mdbWavesEffect (click)="basicModal.show()">Order Tracking
        </button>
      </td>



      <div mdbModal (open)="orderTracking(el)" #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">Tracking Your Order {{el.orderStatus}}</h4>
            </div>
            <div class="modal-body">
              <ul class="progress-tracker progress-tracker--vertical">
                <li class="progress-step" [class.is-complete]="el.orderStatus >= 0">
                  <span  class="progress-marker"></span>
                  <span class="progress-text text-left">Ordered</span>
                </li>
                <li class="progress-step" [class.is-complete]="el.orderStatus >= 1">
                  <span class="progress-marker"></span>
                  <span class="progress-text text-left">In Delivery</span>
                </li>
                <li class="progress-step" [class.is-complete]="el.orderStatus >= 2">
                  <span class="progress-marker"></span>
                  <span class="progress-text text-left">Delivered</span>
                </li>
              </ul>

            </div>
            <div class="modal-footer">
              <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            </div>
          </div>
        </div>
      </div>

    </tr>
    </tbody>
  </table>

</div>



