@import "variables";
/* Override style of kendo-ui and kendo-theme-bootstrap */

/* buttons */
.btn {
  cursor: pointer;
  border: none;
  font-size: $sm-font-size;
  line-height: $sm-line-height;
  padding: standard-size-calculator(1.5) standard-size-calculator(1.5);
  border-radius: 0;
  .icon {
    font-size: $lg-font-size;
  }
  &:focus {
    box-shadow: none;
  }
  &.disabled {
    color: $light-gray;
    cursor: not-allowed;
    opacity: 1;
    &:hover .ion, &:focus .ion, &:active .ion {
      color: $light-gray;
      cursor: not-allowed;
    }
  }
  &.btn-transparent {
    color: $white-2;
    background-color: transparent;
    &:hover {
      color: $white;
    }

    &.light-theme {
      color: $very-dark-gray;
      line-height: $xs-line-height;
      border: 1px solid $dark-desaturated-blue;
      margin-left: standard-size-calculator(2);
      padding: standard-size-calculator(0.5);
    }
  }
  &.btn-transparent {
    background: transparent;
  }
  &.btn-smd-secondary {
    padding: standard-size-calculator(1.5);
    background-color: transparent;
    color: $dark-desaturated-blue;
  }

  &.btn-smd-primary {
    padding: 0 standard-size-calculator(2) 0 0;
    height: standard-size-calculator(5);
    background-color: $dark-desaturated-blue;
    color: $white-2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .mdi{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: standard-size-calculator(5);
    }
  }
  &.btn-smd-light {
    padding: standard-size-calculator(1.5);
    background-color: $white-2;
    color: $dark-desaturated-blue;
  }
}

.k-list {
  .k-item {
    padding: standard-size-calculator(0.5);
    &.k-state-selected {
      box-shadow: none;
      background-color: $vivid-blue;
    }

    &.k-state-focused {
      box-shadow: none;
      background-color: $very-light-gray;

      &:hover {
        box-shadow: none;
      }
    }

    &.k-state-selected.k-state-focused {
      box-shadow: none;
      background-color: $vivid-blue;
    }
  }
}

.k-nodata {
  padding: standard-size-calculator(1);
  min-height: auto;
  justify-content: left;
  text-align: left;
  text-transform: none;
}

.k-dropdown-button {
  &.k-widget {
    border-bottom: none;
    background: transparent;
    border-color: transparent;
    .k-button {
      color: $white-2;
      border: none;
      background: transparent;
      border-color: transparent;
      font-size: $sm-font-size;
    }
    .k-button:focus {
      box-shadow: none;
    }
  }
}

.k-animation-container-shown, .k-animation-container > .k-popup {
  box-shadow: 0 0 standard-size-calculator(0.5) $dark-2;
}
.k-popup {
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0 0 standard-size-calculator(0.5) $dark-2;
  &.dropdown-menu-lg {
    width: standard-size-calculator(38);
  }

  kendo-list {
    .k-list {
      @include dropdown-item();
    }

  }
  kendo-button-list {
    background-color: $white;
    .k-list {
      padding-top: standard-size-calculator(1);
      padding-bottom: standard-size-calculator(1);
      .k-item {
        color: $dark-grayish-cyan;
        padding: standard-size-calculator(1) standard-size-calculator(2);
        &.k-state-focused {
          background: none;
          box-shadow: none;
        }

        &:hover {
          background: none;
          box-shadow: none;
        }
      }
    }
  }

  @mixin selected-state($bg-color, $color, $display: none) {
    @if $display == none {
      padding-left: standard-size-calculator(3);
    } @else {
      padding-left: standard-size-calculator(0.5);
    }
    background-color: $bg-color;
    color: $color;
    .k-multi-select-icon {
      display: $display;
    }
  }
  @mixin multi-selection-items($selected-icon-display, $focused-icon-display, $selected-focused-icon-display) {
    kendo-list .k-list .k-item {
      padding-left: standard-size-calculator(3);
      .k-multi-select-icon {
        display: none;
        padding-right: standard-size-calculator(0.5);
      }
      &.k-state-selected {
        @include selected-state($list-item-bgcolor, $list-item-color, $selected-icon-display);
      }
      &.k-state-focused {
        @include selected-state($list-item-selected-bgcolor, $list-item-selected-color, $focused-icon-display);
      }
      &.k-state-selected.k-state-focused {
        @include selected-state($list-item-selected-bgcolor, $list-item-selected-color, $selected-focused-icon-display);
      }
      &:hover, &.k-state-selected:hover, &.k-state-focused:hover,
      &.k-state-selected.k-state-focused:hover {
        background-color: $list-item-hover-bgcolor;
        color: $list-item-hover-color;
      }
    }
  }

  &.multi-select-groupe-popup {
    @include multi-selection-items(block, none, block);
  }
  &.single-select-groupe-popup {
    @include multi-selection-items(none, none, none);
  }
}

/* kendo dropdown */
.k-dropdown {
  flex: 1 1 auto;
  .k-dropdown-wrap {
    background: transparent;
    @include input-field;
    .k-input {
      height: $md-line-height;
      padding: 0;
    }
    &.k-state-disabled {
      background: $light-grayish-blue-2;
    }
    &.k-state-focused, &:focus {
      box-shadow: none;
    }
    .k-select {
      padding: 0;
    }
  }

  &.transparent {
    .k-dropdown-wrap {
      border-bottom: 1px solid $white-3;
      color: $white;
      background: transparent;
    }
  }
}

.k-window {
  border-radius: 0;
}

.submobile-menu {
  .k-list .k-item.k-state-focused, .k-list .k-item:focus {
    box-shadow: none;
  }
}

.navigation-dropdown {
  .k-button-icon {
    &.k-button {
      border-radius: 0;
      color: $white-3;
    }
    background-color: $dark-desaturated-blue;
    border-color: transparent;
    &:focus {
      box-shadow: none;
    }
  }

  .k-menu.k-menu-horizontal:not(.k-context-menu) > .k-item > .k-link {
    padding-left: standard-size-calculator(2);
    color: $white-2;
  }
  .k-menu.k-menu-horizontal:not(.k-context-menu) {
    padding: 0;
  }
  .k-menu-link > .k-icon:hover {
    color: #fff;
  }
  .k-menu:not(.k-context-menu) {
    height: 100%;
    background-color: $dark-desaturated-blue;
  }
}

.k-tabstrip {
  .k-content.k-state-active {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &.light {
    background-color: $very-light-gray;
    .k-tabstrip-items {
      background-color: $white;
    }
  }
  &.tab-fullwitth {
    display: flex;
    flex: 1;
    flex-direction: column;
    .k-tabstrip-items {
      display: flex;
      .k-item {
        flex: 1;
      }
    }
  }
  &.non-padding {
    .k-content {
      padding: 0;
    }
  }

  .k-item.k-state-active {
    background-color: transparent;
    border-color: transparent;
  }
  .k-tabstrip-items {
    border-color: transparent;
    .k-item {
      color: $dark-desaturated-blue;
      background-color: $white;
      box-sizing: border-box;
      border-width: standard-size-calculator(0.25);
      box-shadow: none;
      font-weight: normal;
      text-align: center;
      font-size: standard-size-calculator(1.5);
      cursor: pointer;
      &.k-state-active, &.k-state-hover {
        border-bottom-color: $dark-desaturated-blue;
      }
      &:hover {
        border-color: transparent;
        border-bottom-color: $dark-desaturated-blue;
      }
    }
  }
  .k-content {
    border: none;
    padding: 0;
    background: transparent;
  }
}
.k-dateinput-wrap {
  .k-prefix {
    padding-right: standard-size-calculator(1);
    color: $very-dark-gray;
  }
}

.dropdown-list-sm {
  &.k-dropdown .k-dropdown-wrap {
    width: standard-size-calculator(25);
    .k-select {
      width: standard-size-calculator(3);
    }
    .k-input {
      font-size: $sm-font-size;
      color: $dark-desaturated-blue;
    }
  }
  .k-list .k-item{
    font-size: $sm-font-size;
  }
}

.k-timeselector {
  .k-action-buttons {
    margin: 0;
  }
  .k-action-buttons .k-button {
    border-radius: 0;
  }
  .k-time-header .k-time-now {
    padding: standard-size-calculator(0.5);
  }
}

#toast-container {
  > div {
    border-radius: 0;
  }
  :hover {
    border-radius: 0;
  }
}
.k-datepicker {
  width: auto;
  .k-picker-wrap {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: $field-border-bottom;
    height: standard-size-calculator(3);
    &.k-state-focused {
      border-bottom: $field-focus-border-bottom;
    }
  }
}
.k-picker-wrap {
  .k-dateinput-wrap {
    background-color: transparent;
  }
}
.k-picker-wrap {
  .k-select {
    border: none;
    background-color: transparent;
    color: $dark-desaturated-blue;
    padding: 0;
  }
}
.k-dateinput-wrap {
  .k-input {
    @include input-field (0px);
    height: standard-size-calculator(3);
    outline: none;
    color: $dark-desaturated-blue;
    &:disabled{
      background-color: transparent;
    }
  }
}
.k-multiselect {
  .k-multiselect-wrap {
    border-radius: 0;
    border: none;
    color: $very-dark-gray;
    border-bottom: $field-border-bottom;
    background: transparent;
    min-height: standard-size-calculator(3);
    &:hover {
      border-color: $dark-desaturated-blue;
      background: transparent;
    }
    .k-select {
      background: transparent;
    }
    .k-input {
      min-height: standard-size-calculator(3);
      padding: 0;
      height: auto;
    }
    .k-button {
      background-color: $dark-grayish-cyan;
      border-radius: standard-size-calculator(4);
      font-size: $sm-font-size;
      color: $white-2;
      min-height: standard-size-calculator(2);
      padding: 0 standard-size-calculator(1);
      display: flex;
      margin: standard-size-calculator(0.25) standard-size-calculator(1) standard-size-calculator(0.25) 0;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      .k-i-close {
        font-size: $sm-font-size;
        color: $white-2;
      }
    }
    .k-i-loading {
      right: standard-size-calculator(2);
      bottom: standard-size-calculator(1.5);
    }
  }
  &.k-state-focused .k-multiselect-wrap {
    border-color: $focus-color;
  }
}

.k-dropdown {
  display: flex;
  .k-dropdown-wrap {
    border-bottom: $field-border-bottom;
    color: $dark-desaturated-blue;
    &:focus{
      border-bottom: $field-focus-border-bottom;
    }
    &.k-state-disabled{
      background-color: transparent;
    }
  }
}

.dark-desaturated {
  .k-checkbox:checked + .k-checkbox-label:before {
    border-color: $dark-desaturated-blue;
    background-color: $dark-desaturated-blue;
  }
  .k-radio:checked + .k-radio-label:before {
    background-color: $dark-desaturated-blue;
  }

  .k-radio:checked + .k-radio-label:after {
    background-color: $dark-desaturated-blue;
  }
}

.k-block, .k-widget {
  border: none;
}

.k-animation-container {
  border-radius: 0;
}

.k-dialog-buttongroup {
  display: none;
}

.k-dialog-wrapper {
  &.stretch {
    .k-dialog {
      flex: 1 1 1px;
      margin-top: standard-size-calculator(3);
      margin-bottom: standard-size-calculator(3);
      .k-window-content {
        display: flex;
        flex: 1 1 1px;
      }
    }
  }
  &.stretch-sm {
    .k-dialog {
      max-height: standard-size-calculator(42.5);
      flex: 1 1 1px;
      .k-window-content {
        display: flex;
        flex: 1 1 1px;
      }
    }
  }
}

.k-dialog {
  .k-window-content {
    overflow: hidden;
  }
}

.k-checkbox-label:before {
  border-radius: 0;
}

.k-checkbox:checked + .k-checkbox-label:before {
  border-color: $dark-grayish-blue;
  background-color: $dark-grayish-blue;
}

.input-group {
  .k-multiselect-wrap {
    background: transparent;
  }
}

.k-autocomplete {
  &.transparent {
    width: auto;
    flex: 1 1 auto;
    background-color: transparent;
    border-bottom: 1px solid $white-3;
    border-radius: 0;
    &.right-icon:before {
      content: "\E006";
      position: absolute;
      right: 0;
      font-family: WebComponentsIcons;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 1;
      font-size: $md-font-size;
      top: standard-size-calculator(0.5);
      color: $white-2;
    }
    color: $white;
    &.k-state-focused {
      background-color: transparent;
      color: $white;
    }
    .k-input {
      padding: 0;
      height: auto;
    }
    .k-clear-value {
      bottom: standard-size-calculator(1.5);
      color: $white;
      font-size: $sm-font-size;
    }
  }
}

.k-combobox-clearable .k-input{
  padding-right: standard-size-calculator(1);
}

.k-combobox{
  width: auto;
  display: flex;
  flex: 1 1 auto;
  >:hover .k-select, .k-select{
    color: $dark-desaturated-blue;
    background-color: transparent;
    border-color: transparent;
    padding:0;
  }
  .k-dropdown-wrap{
    border-radius: 0;
    background-color: transparent;
    border:none;
    border-bottom: $field-border-bottom;
    color: $dark-desaturated-blue;
    height: standard-size-calculator(3);
    .k-input{
      padding-top:0;
      padding-left:0;
      padding-bottom:0;
      height: auto;
      background-color: transparent;
    }
    .k-clear-value{
      right: standard-size-calculator(1.5);
    }
  }
}

.k-grid {
  display: flex;
  flex-direction: column;
  flex: 1 1 1px;
  font-weight: $font-weight-normal;
  background-color: transparent;
  .k-grid-header {
    border-color: transparent;
    background-color: transparent;
    .k-header {
      padding: 0px;
      font-size: $sm-font-size;
      line-height: $sm-line-height;
      font-weight: $font-weight-bold;
      color: $gray-blue;
      >.k-link {
        height: standard-size-calculator(2);
        margin: 0 standard-size-calculator(2) 0 0;
        padding: 0;
      }
    }
  }
  .k-alt {
    background-color: transparent;
  }
  .k-filtercell {
    margin-right: standard-size-calculator(2);
    .k-filtercell-wrapper > .k-textbox {
      height: standard-size-calculator(3);
      @include input-field;
      border-bottom: $field-border-bottom;
      background-color: transparent;
      color: $gray-blue;
      line-height: $md-line-height;
      &:focus {
        color: $dark-desaturated-blue;
        border-bottom: 1px solid $dark-grayish-cyan;
        background-color: transparent;
      }
    }
    .k-filtercell-operator {
      display: none;
    }
    .k-datepicker {
      .k-picker-wrap {
        height: standard-size-calculator(3);
        border-bottom: $field-border-bottom;
        .k-input {
          text-indent: 0;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
  .k-grid-container {
    flex: 1 1 1px;
    .k-grid-content {
      flex: 1 1 1px;
      margin-top: standard-size-calculator(1);
      .k-button {
        background-color: transparent;
      }
    }
  }

  th {
    color: $dark-grayish-cyan;
  }
  td {
    padding: 0;
    border-color: transparent;
    font-size: $normal-font-size;
    color: $dark-grayish-cyan;
  }
  tbody tr:hover {
    background-color: transparent;
  }
  .text-cell {
    height: standard-size-calculator(5);
    line-height: $xlg-line-height;
    margin-right: standard-size-calculator(2);
    border-bottom: 1px solid $light-grayish-cyan;
    &.truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .action-cell {
    display: flex;
    .action-btn {
      height: standard-size-calculator(5);
      background-color: transparent;
      border-bottom: 1px solid $light-grayish-cyan;
      .action-icon {
        font-size: $md-font-size;
        color: $dark-grayish-cyan;
        line-height: $sm-line-height;
      }
    }
  }
}

.k-list-filter {
  padding: 0;
  min-height: 0px;
  >.k-icon {
    right: 0.5rem;
    top: 50%;
  }
  >.k-textbox{
    border-radius: 0;
    padding-left: standard-size-calculator(0.5);
  }
}

.k-modal-overlay {
  .k-dialog {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .k-content {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    min-width: standard-size-calculator(96);
  }
}

.light-theme {
  .k-datepicker .k-picker-wrap {
    border-bottom: $field-light-border-bottom;
    &.k-state-focused {
      border-bottom: $field-focus-light-border-bottom;
    }
  }
  .k-picker-wrap .k-prefix {
    color: $white-2;
  }
  .k-picker-wrap .k-select {
    color: $white-2;
  }
  .k-dateinput-wrap .k-input {
    color: $light-theme-color;
  }

  .k-checkbox-label{
    color: $light-theme-color;
    &:before{
      border-color: $light-theme-color;
    }
  }
  .k-checkbox-label:before, .k-radio-label:before{
    border-width: 2px;
  }
  &.k-dropdown-button {
    &.k-widget {
      .k-button {
        color: $dark-grayish-cyan;
      }
    }
  }

  kendo-button-list {
    background-color: $very-light-gray;
    border: 1px solid $very-light-gray-2;
    .k-list .k-item {
      color: $dark-desaturated-blue;
    }
  }

  .k-dropdown {
    display: flex;
    .k-dropdown-wrap {
      color: $light-theme-color;
      border-bottom: $field-light-border-bottom;
      &.k-state-focused {
        border-bottom: $field-focus-light-border-bottom;
      }
    }
  }
  .k-multiselect {
    &.k-mdi:before {
      color: $light-theme-color;
    }
  }
  .k-multiselect-wrap{
    border-bottom: $field-light-border-bottom;
    color: $light-theme-color;
    &:hover{
      border-color: $white-3;
    }
  }
  .open-popup-button {
    color: $white;
  }
  .k-state-focused {
    .k-multiselect-wrap{
      border-bottom: $field-focus-light-border-bottom;
    }
  }

  .k-combobox{
    >:hover .k-select, .k-select{
      color: $light-theme-color;
    }
    .k-dropdown-wrap{
      border-bottom: $field-light-border-bottom;
      color: $light-theme-color;
      &.k-state-focused {
        border-bottom: $field-focus-light-border-bottom;
      }
    }
  }
}

.k-upload {
  flex: 1 1 auto;
  border: 1px solid $very-light-gray-5;

  .k-upload-button {
    border-radius: standard-size-calculator(0.25);
    color: $very-dark-gray-2;
    border-color: $dark-3;
    background-color: $very-light-gray-4;
    background-image: linear-gradient($very-light-gray-4, $very-light-gray-5);
    font-size: $normal-font-size;
  }
}

.k-flex {
  display: flex;
}
