<!--<div class="container-fluid">-->
  <div class="card">
    <div class="card-body">

      <!-- Horizontal Steppers -->
      <div class="row">
        <div class="col-md-12">

          <!-- Stepers Wrapper -->
          <ul class="stepper stepper-horizontal">

            <!-- First Step -->
            <li class="completed" mdbWavesEffect>
              <a>
                <span class="circle">1</span>
                <span class="label">First step</span>
              </a>
            </li>

            <!-- Second Step -->
            <li class="active" mdbWavesEffect>
              <a>
                <span class="circle">2</span>
                <span class="label">Second step</span>
              </a>
            </li>

            <!-- Third Step -->
            <li class="warning" mdbWavesEffect>
              <a>
                <span class="circle"><i class="fa fa-warning"></i></span>
                <span class="label">Third step</span>
              </a>
            </li>

          </ul>
          <!-- /.Stepers Wrapper -->

        </div>
      </div>
      <!-- /.Horizontal Steppers -->

    </div>
  </div>

<!--</div>-->
