/* mixin */
/* Calculation function base on design concept of SMD: every static space in SMD must be a multiples of 8px */
@function standard-size-calculator($ratio) {
  @return $ratio * 8px;
}

@function affaire-panneau-color($type) {
  @if ($type == 'affaire-generique') {
    @return $strong-cyan-lime-green;
  }
  @if ($type == 'affaire-interpellation') {
    @return $light-orange;
  }
  @return $strong-cyan-lime-green;
}

@mixin input-field($border-bottom-width: 1px) {
  border-radius: 0;
  border: none;
  border-bottom: $border-bottom-width solid $dark-desaturated-blue;
  height: standard-size-calculator(3);
  padding: 0;
  color: $very-dark-gray;
  &:focus {
    box-shadow: none;
    border-bottom: $border-bottom-width solid $focus-color;
  }
  &:disabled {
    background-color: $light-grayish-blue-2;
  }
}
@mixin form-message($font-size, $color) {
  .form-control, .k-state-default, .cke, .k-multiselect-wrap, .k-state-default, .k-input {
    color: $color;
    border-color: $color;
    &:focus {
      color: $color;
      border-color: $color;
    }
  }
  .form-control-messages {
    color: $color;
    font-size: $font-size;
    line-height: standard-size-calculator(2);
  }
  .clear-button {
    color: $color;
  }
}

@mixin dropdown-item() {
  .k-item {
    background-color: $list-item-bgcolor;
    color: $list-item-color;
    font-size: $sm-font-size;
    line-height: standard-size-calculator(3);
    &.k-state-selected {
      background-color: $list-item-selected-bgcolor;
      color: $list-item-selected-color;
    }

    &.k-state-focused {
      background-color: $list-item-bgcolor;
      color: $list-item-color;
    }

    &.k-state-selected.k-state-focused {
      background-color: $list-item-selected-bgcolor;
      color: $list-item-selected-color;
    }
    &:hover, &.k-state-selected:hover, &.k-state-focused:hover {
      background-color: $list-item-hover-bgcolor;
      color: $list-item-hover-color;
    }
  }
}

@mixin clear-button() {
  position: absolute;
  right: 0;
  top: 0;
  width: standard-size-calculator(2);
  z-index: 4; /* Make clear button display overlay on bootstrap form-control:focus with z-index: 3*/
}

@mixin carte-host() {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  // NOTE: Little hack to auto stretch all direct child elements of carte component in order to work with ellipsis
  width: 1px;
}

@mixin flex-row($justify-content: stretch, $align-items: stretch) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-column($justify-content: stretch, $align-items: stretch) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin historique-item-theme($color: $dark-desaturated-blue-2, $comment-color: $dark-grayish-cyan) {
  .historique-item {
    background-color: transparent;
    color: $color;
    .detail-container {
      border-color: $color;
    }
    .state {
      border-color: $color;
      background-color: $color;
    }
  }
}

@mixin selected-state($bg-color, $color, $display: none) {
  @if $display == none {
    padding-left: standard-size-calculator(3);
  } @else {
    padding-left: standard-size-calculator(0.5);
  }
  background-color: $bg-color;
  color: $color;
  .k-multi-select-icon {
    display: $display;
  }
}
@mixin multi-selection-items($selected-icon-display, $focused-icon-display, $selected-focused-icon-display) {
  kendo-list .k-list .k-item {
    padding-left: standard-size-calculator(3);
    .k-multi-select-icon {
      display: none;
      padding-right: standard-size-calculator(0.5);
    }
    &.k-state-selected {
      @include selected-state($list-item-bgcolor, $list-item-color, $selected-icon-display);
    }
    &.k-state-focused {
      @include selected-state($list-item-selected-bgcolor, $list-item-selected-color, $focused-icon-display);
    }
    &.k-state-selected.k-state-focused {
      @include selected-state($list-item-selected-bgcolor, $list-item-selected-color, $selected-focused-icon-display);
    }
    &:hover, &.k-state-selected:hover, &.k-state-focused:hover,
    &.k-state-selected.k-state-focused:hover {
      background-color: $list-item-hover-bgcolor;
      color: $list-item-hover-color;
    }
  }
}

/* Palette colors */
$dark-grayish-cyan: #7f8c8d;
$dark-grayish-cyan-2: rgba(125, 140, 140, 0.2);
$light-grayish-cyan: #ecf0f1;
$light-grayish-cyan-1: #e9eeee;
$dark-1: rgba(0, 0, 0, 0.5);
$dark-2: rgba(0, 0, 0, 0.15);
$dark-3: rgba(0, 0, 0, 0.08);

$bright-blue: #3498db;
$dark-desaturated-blue: #2c3e50;
$dark-desaturated-blue-2: #34495e;
$mostly-dark-desaturated-blue: #566573;
$slightly-desaturated-blue: #6d7fcc;
$very-dark-desaturated-blue: #273C46;
$deep-sky-blue: #00ccff;
$gray-blue: rgba(44, 62, 80, 0.5);
$gray-blue-2: rgba(44, 62, 80, 0.8);
$grayish-blue: #becbd6;
$grayish-blue-1: #bdc3c7;
$dark-grayish-blue: #697983;
$light-grayish-blue: #c3d1dc;
$light-grayish-blue-1: #d6dade;
$light-grayish-blue-2: #d4d8dc;
$mostly-pure-blue: #007bff;
$vivid-blue: #33ccff;

$light-gray: #d7d7d7;
$very-dark-gray: #333333;
$very-dark-gray-2: #656565;
$very-light-gray: #f7f7f7;
$very-light-gray-1: #e6e6e6;
$very-light-gray-2: #e4e4e4;
$very-light-gray-3: rgba(33, 37, 41, .15);
$very-light-gray-4: #f6f6f6;
$very-light-gray-5: #f1f1f1;
$very-light-gray-mostly-white: #fbfbfb;

$dark-cyan-lime-green: #27ae60;
$strong-cyan-lime-green: #2ecc71;

$very-pale-yellow: #fffff2;

$light-orange: #ffb14d;
$soft-orange: #f0ad4e;
$vivid-orange: #f39c12;

$bright-red: #e74c3c;
$soft-red: #D94959;
$very-pale-red: #fff7f7;

$white: #FFFFFF;
$white-2: rgba(255, 255, 255, 0.8);
$white-3: rgba(255, 255, 255, 0.5);
$white-4: rgba(255, 255, 255, 0.4);

/* Fonts */
$xs-font-size: 10px;
$sm-font-size: 12px;
$normal-font-size: 14px;
$md-font-size: 16px;
$lg-font-size: 20px;
$xlg-font-size: 24px;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-family: 'Roboto', sans-serif;

/* Line height */
$xlg-line-height: 40px;
$lg-line-height: 32px;
$md-line-height: 24px;
$sm-line-height: 16px;
$xs-line-height: 14px;

/* Screen size */
$lg-screen: standard-size-calculator(220);
$md-screen: standard-size-calculator(173);
$sm-screen: standard-size-calculator(126);
$xs-screen: standard-size-calculator(96);

/* Grid layout */
$lg-col: 16;
$md-col: 12;
$sm-col: 8;
$xs-col: 8;

/* color is used for focus state of component */
$focus-color: $mostly-pure-blue;
$light-theme-field-border-bottom-color: $white-3;
$light-theme-color: $white;
/* field */
$field-border-bottom: 1px solid $dark-desaturated-blue;
$field-light-border-bottom: 1px solid $white-3;
$field-focus-light-border-bottom: 1px solid $white;
$field-focus-border-bottom: 1px solid $mostly-pure-blue;

/* affaire header background */
$affaire-header-background: #2ecc71;

/* affaire identifier tag background */
$affaire-identifier-tag: rgba(39, 174, 96, 1);

/* dropdown + multidropdodwn */
$list-item-hover-bgcolor: $deep-sky-blue;
$list-item-hover-color: $white;
$list-item-color: $dark-grayish-cyan;
$list-item-bgcolor: $white;
$list-item-selected-color: $white;
$list-item-selected-bgcolor: $grayish-blue-1;

/* color for commantaire in history life cycle*/
$history-commentaire: $white-3
